.outer-container {
    display: grid;
    place-items: center;
}

.inner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.left {
    max-width: 45%;
}

.right {
    max-width: 45%;
}

.image {
    border-radius: 10px;
    cursor: pointer;
    max-width: 100%;
}

.placeholder {
    background: url('placeholder.png') center center / cover no-repeat;
}

.blur-up {
    filter: blur(10px);
    transition: filter 0.8s ease;
}

.blur-up.loaded {
    filter: blur(0);
}