.outer-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: max-content;
}

.inner-container {
    width: 50%;
    margin: 40px;
}

h1 {
    font-family: Anton, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

input {
    padding: 10px 15px;
    width: 100%;
    
    border: none;
    outline: none;
    
    background: var(--color-blue);
    color: white;

    font-family: Anton, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

