@page "/search"
@using DokubibImageSearch.Components

<div class="container">
    @* <button class="search-bar"> *@
    @*     <svg data-icon="more" height="30" width="30" role="img" viewBox="0 0 20 20"> *@
    @*         <path d="M3.5 8a2.5 2.5 0 100 5 2.5 2.5 0 100-5zM17.5 8a2.5 2.5 0 100 5 2.5 2.5 0 100-5zM10.5 8a2.5 2.5 0 100 5 2.5 2.5 0 100-5z" fill-rule="evenodd"> *@
    @*         </path> *@
    @*     </svg> *@
    @* </button> *@
    @* <div class="spacer"></div> *@
    <input class="search-bar" @bind="Query" @bind:event="oninput" @bind:after="OnInput"/>
</div>

<Results @ref="_results" SearchText="@Query"/>


@code{
    [Inject]
    public required NavigationManager NavigationManager { get; set; }
    
    [SupplyParameterFromQuery(Name = "query")]
    public string Query { get; set; } = string.Empty;
    
    private Results? _results;

    private async Task OnInput()
    {
        NavigationManager.NavigateTo($"/search?query={Query}");
        if (_results != null) await _results.UpdateSearch(Query);
    }

}