/* /Components/ImageDetail.razor.rz.scp.css */
.container[b-rxa0qk1kjj] {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    min-height: 95vh;
}

.left[b-rxa0qk1kjj] {
    background: white;
    border: 2px dashed #aaa;
    max-width: 70vw;
    height: 95vh;
    position: relative;
}

.placeholder[b-rxa0qk1kjj] {
    background: url('placeholder.png') center center / cover no-repeat;
    filter: contrast(70%) brightness(115%);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hint[b-rxa0qk1kjj] {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
}

.image[b-rxa0qk1kjj] {
    max-width: 70vw;
    position: absolute;
    inset: 0;
    z-index: 3;
}

.right[b-rxa0qk1kjj] {
    max-width: 30vw;
    background: var(--color-brown);
    padding: 10px;
}

.blur-up[b-rxa0qk1kjj] {
    filter: blur(10px);
    transition: filter 0.8s ease;
}

.blur-up.loaded[b-rxa0qk1kjj] {
    filter: blur(0);
}
/* /Components/ImagePreview.razor.rz.scp.css */
.card[b-xf6jpb1jap] {
    margin: 5px;
    padding: 0;
    display: inline-block;
}

.image[b-xf6jpb1jap] {
    display: block;
}

.text[b-xf6jpb1jap] {
    font-size: 10px;
    width: calc(100% - 6px);
    padding: 3px;
    background: var(--color-brown);
}

.title[b-xf6jpb1jap] {
    font-weight: bold;
}

.placeholder[b-xf6jpb1jap] {
    background: url('placeholder.png') center center / cover no-repeat;
}

.blur-up[b-xf6jpb1jap] {
    filter: blur(10px) contrast(75%) brightness(75%);
    transition: filter 0.8s ease;
}

.blur-up:hover.loaded[b-xf6jpb1jap] {
    filter: blur(0) contrast(110%) brightness(110%);
    cursor: pointer;
}

.blur-up.loaded[b-xf6jpb1jap] {
    filter: blur(0) contrast(75%) brightness(75%)
}
/* /Components/Overlay.razor.rz.scp.css */
.backdrop[b-t9i0euj9ih] {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, .7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content[b-t9i0euj9ih] {
    position: relative;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 8px;
}

.button-container[b-t9i0euj9ih] {
    position: relative;
}

button[b-t9i0euj9ih] {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
/* /Components/Results.razor.rz.scp.css */
.image-row[b-1jf9c6n2qu] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row-container[b-1jf9c6n2qu] {
    display: flex;
    justify-content: center;
}

.force-fetch[b-1jf9c6n2qu] {
    color: var(--color-blue);
    text-decoration: underline;
    cursor: pointer;
}

.endpage-note[b-1jf9c6n2qu] {
    justify-self: center;
    margin: 20px 20px 40px;
}
/* /Pages/Search.razor.rz.scp.css */
.outer-container[b-t07mkwwgb1] {
    justify-content: center;
    align-items: center;
    display: flex;
    height: max-content;
}

.inner-container[b-t07mkwwgb1] {
    width: 50%;
    margin: 40px;
}

h1[b-t07mkwwgb1] {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: bold;
    border: none;
    outline: none;
}

input[b-t07mkwwgb1] {
    padding: 10px 15px;
    width: 100%;

    border: none;
    outline: none;

    background: var(--color-blue);
    color: white;

    font-family: Anton, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

