.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    min-height: 95vh;
}

.left {
    background: white;
    border: 2px dashed #aaa;
    max-width: 70vw;
    height: 95vh;
    position: relative;
}

.placeholder {
    background: url('placeholder.png') center center / cover no-repeat;
    filter: contrast(70%) brightness(115%);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.hint {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
}

.image {
    max-width: 70vw;
    position: absolute;
    inset: 0;
    z-index: 3;
}

.right {
    max-width: 30vw;
    background: var(--color-brown);
    padding: 10px;
}

.blur-up {
    filter: blur(10px);
    transition: filter 0.8s ease;
}

.blur-up.loaded {
    filter: blur(0);
}