.card {
    margin: 5px;
    padding: 0;
    display: inline-block;
}

.image {
    display: block;
}

.text {
    font-size: 10px;
    width: calc(100% - 6px);
    padding: 3px;
    background: var(--color-brown);
}

.title {
    font-weight: bold;
}

.placeholder {
    background: url('placeholder.png') center center / cover no-repeat;
}

.blur-up {
    filter: blur(10px) contrast(75%) brightness(75%);
    transition: filter 0.8s ease;
}

.blur-up:hover.loaded {
    filter: blur(0) contrast(110%) brightness(110%);
    cursor: pointer;
}

.blur-up.loaded {
    filter: blur(0) contrast(75%) brightness(75%)
}