.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, .7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 8px;
}

.button-container {
    position: relative;
}

button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}