name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish Blazor app
        run: dotnet publish -c Release -o publish

      - name: Set base href
        run: |
          sed -i 's|%BASE_HREF%|/Dokumentationsbibliothek/|g' \
          publish/wwwroot/index.html

      - name: Create 404.html for SPA routing
        run: |
          cp publish/wwwroot/index.html publish/wwwroot/404.html
          
      - name: Disable Jekyll
        run: touch publish/wwwroot/.nojekyll

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: publish/wwwroot
          publish_branch: gh-pages